.mt-100 {
    padding-top: 100px;
}

.search {
    border-radius: 25px;
    border-color: #540404;
}

.search-btn {
    position: relative;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding: 0px 15px;
}

.xsearch-items {
    padding-left: 0px;
}

#search-results .search-item {
    border: 3px solid #540404;
    border-radius: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

.search-item-img {
    float: left;
    position: relative;
}

.search-item-img img {
    width: 70px;
    height: 70px;
}

.search-item-img img, .search-item-img .img-holder {
    height: 70px;
    width: 70px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    border: 4px solid white;
}

.search-item-content {
    margin-left: 100px;
    padding-bottom: 35px;
    margin-bottom: 20px;
}

.xsearch-items h3.search-item-caption {
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 20px;
}

.search-item-content .search-item-meta {
    display: block;
    margin-bottom: 10px;
}

.search-item-content .time {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.search-item-meta-down a, .search-item-meta a {
    font-size: 11px;
    text-transform: uppercase;
}

.form-control {
    min-height: 50px;
}

.small-search-wrap .form-group {
    display: flex;
}

.small-search-wrap .form-group fa-icon:hover {
    color: #540404;
    transform: scale(1.1);
}

.articles-search-pagination-links ::ng-deep .ngx-pagination .current {
    background: #540404;
}

.articles-search-pagination-links ::ng-deep .ngx-pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
}