.recipe-stepper {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.heading-title {
    padding-top: 120px;
}

.heading-title h2 {
    color: #540404;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.heading-title p {
    font-size: 18px;
    font-weight: 200;
}

.mat-form-field {
    width: 40%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}