.mt-110 {
    margin-top: 110px;
}

.btn-primary {
    color: #540404;
    background-color: #fff;
    border-color: #540404;
}

.btn-primary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}