<div class="container mt-110 mb-3 text-center">
    <h1>Page not found</h1>
    <div class="container">
        <img class="pb-3" src="/assets/images/404.png" alt="Not found page">
        <h1>Oops!</h1>
        <h2>The page you were looking for was eaten alive.</h2>
        <br />
        <div class="container">
            <span>
                We are sorry, the page you requested could not be found. Please go back to the homepage or use the contact form.
                <br />
                Thank your for your understanding!
            </span>
            <hr />
            <div>
                <a class="btn btn-primary btn-sm" role="button" routerLink="/">Back to Home</a>
                <hr>
                <a class="btn btn-secondary btn-sm" role="button" routerLink="/contacts">Contact us</a>
            </div>
        </div>
    </div>
</div>