<ng-container *ngIf="loadingService.isLoading$ | async">
    <ngx-spinner bdColor="rgba(0,0,0,0)" [fullScreen]="true" color="#fff" size="medium"></ngx-spinner>
</ng-container>
<form [formGroup]="formGroup" (ngSubmit)="onSubmitHandler(formGroup)">
    <mat-form-field class="form-element">
        <mat-label>Page Content</mat-label>
        <input matInput placeholder="Faq question" formControlName="pageContent" required>
        <mat-error *ngIf="formGroup.get('pageContent')!.hasError('required')">You must enter page content.</mat-error>
        <mat-error *ngIf="formGroup.get('pageContent')!.hasError('maxlength')">Page content should be less than 30 symbols.</mat-error>
        <mat-error *ngIf="formGroup.get('pageContent')!.hasError('minlength')">Page content should be bigger than 3 symbols.</mat-error>
    </mat-form-field>
    <button mat-raised-button class="create-privacy-button" color="primary" type="submit" [disabled]="formGroup.invalid">Save Changes</button>
</form>