<h4>Application Users List</h4>
<hr />
<h5>Total Count : <span>{{users.length}}</span></h5>
<ng-container *ngIf="users.length > 0">
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Created On</th>
                <th scope="col">Gender</th>
                <th scope="col">Role</th>
                <th scope="col">Functions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let user of users">
                <ng-container *ngIf="!user.isDeleted">
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.createdOn | date:'short'}}</td>
                        <td>{{(Gender[user.gender])}}</td>
                        <td>{{user.role}}</td>
                        <td>
                            <a class="badge bg-success me-2" type="button" (click)="onEditHandler(user)">Edit</a>
                            <a class="badge bg-danger" type="button">Ban</a>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="user.isDeleted">
                    <tr>
                        <td>{{user.username}}/td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.createdOn | date:'short'}}</td>
                        <td>{{(Gender[user.gender])}}</td>
                        <td>
                            <a class="badge bg-success">Unban</a>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="users.length === 0">
    <div class="alert alert-danger" role="alert">
        There is not any data available.
    </div>
</ng-container>