<h4>Articles List</h4>
<hr />
<h5>Total Count : <span>{{articlesPaginated.items.length}}</span></h5>
<ng-container *ngIf="articlesPaginated.items.length > 0">
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Functions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articlesPaginated.items | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: count }">
               <th scope="row">{{article.id}}</th>
               <td>{{article.title}}</td>
               <td [innerHTML]="article.sanitizedShortDescription"></td>
               <td>
                   <a class="badge bg-success" type="button" (click)="onEditHandler(article)">Edit</a>
                   <a class="badge bg-danger" type="button" (click)="onRemoveHandler(article.id)">Remove</a>
               </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="articles-pagination-links" (pageChange)="onPageChange($event)" [responsive]="true"></pagination-controls>
</ng-container>
<ng-container *ngIf="articlesPaginated.items.length === 0">
    <div class="alert alert-danger" role="alert">
        There is not any data available.
    </div>
</ng-container>