<div class="row inner-menu-box">
    <div class="col-3">
        <div class="nav nav-pills" id="v-pills-tab" role="tabpanel" aria-orientation="vertical">
            <div id="myTab" class="nav flex-column nav-tabs" role="tablist">
                <a class="nav-link active mb-1">All</a>
                <a class="nav-link mb-1" *ngFor="let category of recipesList?.categories">{{category.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-3 recipe-card" *ngFor="let recipe of recipesList?.recipes">
                        <div class="gallery-single fix">
                            <img src="{{recipe.imagePath}}" class="img-fluid" alt="Image_{{recipe.id}}">
                            <div class="why-text">
                                <a routerLink="/recipes/details/{{recipe.id}}">
                                    <h4>{{recipe.name}}</h4>
                                </a>
                                <p *ngIf="recipe.rate === 0">
                                    <strong>No Rate yet!</strong>
                                </p>
                                <p *ngIf="recipe.rate !== 0">
                                    <fa-icon *ngFor="let rate of rate(recipe.rate)" [icon]="['fas', 'star']" class="star"></fa-icon>
                                </p>
                                <h5><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon> {{recipe.difficulty}}</h5>
                                <h5><fa-icon [icon]="['far', 'list-alt']"></fa-icon> {{recipe.category.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>