.inner-menu-box .nav-pills .nav-link.active {
    background: #540404;
}

.inner-menu-box .nav-pills .nav-link {
    font-size: 18px;
}

.inner-menu-box .nav-pills .nav-link:hover {
    background: #540404;
    color: #ffffff;
}