<button mat-icon-button class="close-button" [mat-dialog-close]="false">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
  
<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" id="ngForm" (ngSubmit)="onConfirm()">
        <mat-form-field class="form-element">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" readonly="">
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Gender</mat-label>
            <input matInput formControlName="gender" readonly="">
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Created On</mat-label>
            <input matInput formControlName="createdOn" readonly="">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Cancel</button>
    <button form="ngForm" mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Confirm</button>
</div>