<button mat-icon-button class="close-button" [mat-dialog-close]="false">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
  
<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" id="ngForm" (ngSubmit)="onConfirm(formGroup)">
        <mat-form-field class="form-element">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Review title" formControlName="title" required>
            <mat-error *ngIf="formGroup.get('title')!.hasError('required')">You must enter a title.</mat-error>
            <mat-error *ngIf="formGroup.get('title')!.hasError('maxlength')">Title should be less than 30 symbols.</mat-error>
            <mat-error *ngIf="formGroup.get('title')!.hasError('minlength')">Title should be bigger than 3 symbols.</mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Content</mat-label>
            <textarea matInput placeholder="Review content" formControlName="content" required></textarea>
            <mat-error *ngIf="formGroup.get('content')!.hasError('required')">You must enter a content.</mat-error>
            <mat-error *ngIf="formGroup.get('content')!.hasError('maxlength')">Content should be less than 1500 symbols.</mat-error>
            <mat-error *ngIf="formGroup.get('content')!.hasError('minlength')">Content should be bigger than 10 symbols.</mat-error>
        </mat-form-field>
        <div class="form-element">
            <mat-label>Rate</mat-label>
            <button mat-icon-button class="star-button" type="button" *ngFor="let ratingId of ratingArr;index as i"
                [id]="'star_' + i" (click)="onRateHandler(i + 1);" [matTooltip]="(ratingId + 1).toString()" matTooltipPosition="above">
            <mat-icon>{{showIcon(i)}}</mat-icon>
            </button>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Cancel</button>
    <button form="ngForm" mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">Send Review</button>
</div>