/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/

.footer-area {
    padding-top: 50px;
    padding-bottom: 0px;
}

.bg-f {
    background-image: url("/src/simply-recipes/src/assets/footer-bg.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.footer-area .container {
    position: relative;
    z-index: 1;
}

.footer-area h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
}

.footer-area p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
}

.arrow-right {
    position: relative;
}

.arrow-right::before {
    content: "\f101";
    font-family: 'FontAwesome';
    position: absolute;
    right: 0px;
    top: 0;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
}


.footer-area p.lead {
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 0px;
}

.footer-area p.lead a {
    color: #ffffff;
    margin-bottom: 15px;
}

.footer-area p.lead a:hover {
    color: #d65106;
}

.footer-area p a {
    font-size: 18px;
    color: #ffffff;
}

.footer-area p a:hover {
    color: #540404;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    font-weight: 300;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #540404;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit:hover {
    background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}

.f-social li a {
    font-size: 18px;
    color: #540404;
    width: 38px;
    height: 38px;
    display: block;
    text-align: center;
    line-height: 38px;
    background: #ffffff;
    border-radius: 4px;
}

.copyright {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: #010101;
    border-top: 1px solid rgba(207, 166, 113);
    padding: 30px 0;
    z-index: 1;
}

.copyright .company-name {
    font-size: 16px;
    text-align: center;
}

.copyright .company-name a {
    font-size: 16px;
}