.blog-box-inner {
    position: relative;
    height: 100%;
    max-height: 300px;
    margin-bottom: 30px;
}

.blog-box-inner .blog-img-box {
    position: relative;
    display: block;
    height: 100%;
    margin-bottom: 30px;
}

.blog-box-inner .blog-detail {
    position: absolute;
    top: 0;
    background: #fff;
    padding: 30px 25px;
    border: 1px solid #ddd;
    transition-duration: .5s;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    color: black;
}

.home-pic {
    width: 100%;
    height: 100%;
}

.blog-detail h4 {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
}

.blog-detail ul li span {
    color: #540404;
    cursor: pointer;
}

.blog-detail ul li span:hover {
    color: #010101;
}

.blog-detail ul li:first-child {
    padding-left: 0px;
}

.blog-detail p {
    padding: 10px 0px 0 0;
    margin: 0px;
    font-size: 13px;
}

.blog-detail a {
    color: #ffffff;
    margin-top: 20px;
}

.blog-box-inner .blog-detail:hover {
    background: rgba(255, 255, 255, .9);
}

.btn-outline-new-white {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}