<div class="row">
    <ng-container *ngIf="loadingService.isLoading$ | async">
        <ngx-spinner bdColor="rgba(0,0,0,0)" [fullScreen]="true" color="#540404" size="medium"></ngx-spinner>
    </ng-container>
    <div class="col-lg-4 col-md-6 col-12"
        *ngFor="let article of articlesPaginated.items | paginate: { itemsPerPage: pageSize, currentPage: pageNumber, totalItems: count }">
        <div class="blog-box-inner">
            <div class="blog-img-box">
                <img class="img-fluid home-pic" src="{{article.imagePath}}" alt="image_{{article.id}}">
            </div>
            <div class="blog-detail">
                <h4>{{article.title}}</h4>
                <ul>
                    <li>
                        <span>Post by <fa-icon [icon]="['fas', 'user']"></fa-icon> {{article.userUsername}}</span>
                    </li>
                    <li>|</li>
                    <li>
                        <span><fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{article.createdOn | date:'short'}}</span>
                    </li>
                </ul>
                <p [innerHTML]="article.sanitizedShortDescription"></p>
                <a class="btn btn-lg btn-circle btn-outline-new-white" routerLink="/articles/details/{{article.id}}">Read More</a>
            </div>
        </div>
    </div>
    <pagination-controls class="articles-pagination-links" (pageChange)="onPageChange($event)" [responsive]="true"></pagination-controls>
</div>