.homeinfo {
    position: absolute;
    z-index: 0;
    margin: 250px 50px;
    font-size: 28px;
    color: white;
}

.homeinfo h1 {
    font-size: 42px;
    color: lightgray;
}

.about-section-box {
    padding: 70px 0px;
    background: #ffffff url(/assets/images/about-bg.jpg) no-repeat bottom center;
    background-size: cover;
}

.about-section-box .img-fluid {
    box-shadow: 20px 20px 0px #540404;
}

.inner-column {
    text-align: left;
}

.inner-column h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #010101;
    font-weight: 500;
}

.inner-column h1 span {
    color: #540404;
}

.inner-column h4 {
    font-size: 16px;
    font-weight: 500;
}

.inner-column p {
    font-size: 18px;
    color: #222222;
}

.inner-column .btn-outline-new-white {
    color: #fff;
}

.inner-column .btn-outline-new-white:hover {
    color: #ffffff;
}

.qt-background {
    background: url(/assets/images/qt-bg.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.cover-slides {
    height: 100%;
}

.cover-slides .container {
    height: 100%;
    position: relative;
    z-index: 2;
}

.cover-slides .container>.row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cover-slides .container>.row {
    height: 100%;
}

.cover-slides h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #fff;
}

.cover-slides p {
    font-size: 18px;
    color: #fff;
}

.contacts-container {
    padding: 20px;
}