<!-- Start slides -->
<div>
    <div class="container homeinfo">
        <h1><strong>Welcome to <br> Simply Recipes!</strong></h1>
        <p>
            Feel free to exlore our online network for <br>
            cooking and healthy life! <br>
        </p>

        <ng-container *ngIf="!isUserAuthenticated">
            <p style="font-size: 22px;">
                If you want you can join our community<br>
                and create free account
            </p>
            <a class="btn btn-light" routerLink="/auth/register">Sign up</a>
        </ng-container>
    </div>
    <div class="cover-slides" style="z-index:-1;">
        <ul>
            <li class="text-left">
                <img src="/assets/images/slider-01.jpg" alt="Slider image_01">
            </li>
        </ul>
    </div>
</div>
<!-- End slides -->

<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Simply Recipes</h1>
                    <h4>Website created for all you home chefs out there!</h4>
                    <p class="mt-4">Simply Recipes is an online community webside created for browsing recipes and articles about healty lifestyle!</p>
                    <p>Our goal is to make the Internet a user-friendly place for people who want to find fresh ideas for homemade food!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/assets/images/about-img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start QT -->
<div class="qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ms-auto me-auto text-center">
                <p class="lead">"No rules. <br> Don't be afraid to do whatever you want.<br> Cooking doesn't have to have rules."</p>
                <span class="lead"> Masaharu Morimoto</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->

<!-- Recipes Menu -->
<app-recipes-menu></app-recipes-menu>
<!-- End Recipes Menu -->

<!-- Articles Menu -->
<app-articles-menu></app-articles-menu>
<!-- End Articles Menu -->

<!-- Gallery -->
<app-gallery></app-gallery>
<!-- End Gallery -->

<!-- Calorie calculator -->
<app-calorie-calculator></app-calorie-calculator>
<!-- End Calorie calculator -->

<!-- Contacts -->
<div class="contacts-container">
    <app-contacts></app-contacts>
</div>
<!-- Contacts -->