.all-page-title .container {
    position: relative;
    z-index: 2;
}

.all-page-title::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.all-page-title h1 {
    font-size: 38px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    font-weight: 500;
}

.page-breadcrumb {
    padding: 250px 0 150px;
    background: url(/assets/images/all-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}

.blog-box {
    padding: 20px;
}

.blog-box-inner {
    position: relative;
    height: 100%;
    max-height: 300px;
    margin-bottom: 30px;
}

.blog-box-inner .blog-img-box {
    position: relative;
    display: block;
    height: 100%;
    margin-bottom: 30px;
}

.blog-box-inner .blog-detail {
    position: absolute;
    top: 0;
    background: #fff;
    padding: 30px 25px;
    border: 1px solid #ddd;
    transition-duration: .5s;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    color: black;
}

.blog-detail h4 {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
}

.blog-detail ul li span {
    color: #540404;
    cursor: pointer;
}

.blog-detail ul li span:hover {
    color: #010101;
}

.blog-detail ul li:first-child {
    padding-left: 0px;
}

.blog-detail p {
    padding: 10px 0px 0 0;
    margin: 0px;
    font-size: 13px;
}

.blog-detail a {
    color: #ffffff;
    margin-top: 20px;
}

.blog-box-inner .blog-detail:hover {
    background: rgba(255, 255, 255, .9);
}

.blog-inner-box {
    position: relative;
    margin: 0px 10px;
    margin-bottom: 30px;
}

.heading-title {
    margin-bottom: 50px;
}

.heading-title h2 {
    color: #010101;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.heading-title p {
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
}

.inner-blog-detail {
    background: #ffffff;
    position: relative;
    padding: 30px 20px;
}

.inner-blog-detail h3 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

.inner-blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
    color: #222222;
}

.inner-blog-detail ul li span {
    color: #540404;
}

.inner-blog-detail p {
    padding: 10px 0px;
}

.blog-sidebar {
    margin-top: 50px;
}

.right-side-blog h3 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}

.blog-search-form .search-btn {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding: 0px 15px;
}

.blog-search-form {
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.blog-search-form input {
    width: 100%;
    min-height: 40px;
    border: 1px solid rgba(214, 81, 6, 0.4);
    padding: 5px 40px 5px 10px;
    font-size: 15px;
    color: #222222;
}

.blog-categories {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.blog-categories ul li {
    line-height: 14px;
    padding: 10px 0px;
    border-top: 1px solid #f5f5f5;
}

.blog-categories ul li a {
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
}

.blog-categories ul li a:hover {
    color: #540404;
}

.recent-box-blog {
    margin-bottom: 20px;
    display: inline-block;
}

.recent-img {
    float: left;
    position: relative;
}

.recent-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d65106;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.recent-box-blog:hover .recent-img::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.recent-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}

.recent-info ul li {
    font-size: 11px;
    padding: 0px;
    color: #222222;
}

.recent-info h4 {
    font-size: 14px;
    padding: 0px;
    margin: 11px 0px;
    font-weight: 500;
}

#article-size {
    height: 80px;
    width: 80px;
}

.date-blog-up {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #540404;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 15px 5px 5px;
}

.comment-respond-box {
    clear: both;
}

.comment-form-respond input {
    min-height: 38px;
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
}

.comment-form-respond textarea {
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
    min-height: 110px;
}

#content-textarea {
    border: 2px solid;
    border-radius: 25px;
    border-color: #540404;
}

.blog-comment-box {
    clear: both;
    margin: 20px 0px;
    float: left;
    width: 100%;
}

.blog-comment-box h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.blog-comment-box .children {
    margin-left: 0px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.side-blog-img {
    box-shadow: 15px 15px 0px 0px rgba(214, 81, 6, 0.4);
    -webkit-transition: all 1s ease 0.01s;
    transition: all 1s ease 0.01s;
    position: relative;
}