<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Article details</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start article details -->
<div class="blog-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Article details</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-12">
                <div class="blog-inner-details-page">
                    <div class="blog-inner-box">
                        <div class="side-blog-img">
                            <img class="img-fluid" src="{{article.imagePath}}" alt="Image_{{article.id}}">
                            <div class="date-blog-up">
                                {{article.createdOn | date:'short'}}
                            </div>
                        </div>
                        <div class="inner-blog-detail details-page">
                            <h3>{{article.title}}</h3>
                            <ul>
                                <li>
                                    <fa-icon [icon]="['fas', 'user']"></fa-icon> Posted By :
                                    <span>{{article.userUsername}}</span>
                                </li>
                                <li>|</li>
                                <li>
                                    <fa-icon [icon]="['fas', 'calendar']"></fa-icon> Date :
                                    <span>{{article.createdOn | date:'short'}}</span>
                                </li>
                                <li>|</li>
                                <li>
                                    <fa-icon [icon]="['fas', 'list']"></fa-icon> Category :
                                    <span>{{article.categoryName}}</span>
                                </li>
                            </ul>
                            <p [innerHTML]="article.sanitizedDescription"></p>
                        </div>

                        <app-articles-comments [articleComments]="article.articleComments" [articleId]="article.id"></app-articles-comments>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
                <app-articles-sidebar></app-articles-sidebar>
            </div>
        </div>
    </div>

    <app-contacts></app-contacts>
</div>
<!-- End details -->