<div class="contact-info-box mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-4 justify-content-center">
                
                <fa-icon [icon]="['fas', 'phone-volume']"></fa-icon>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead">
                        +01 123-456-4590
                    </p>
                </div>
            </div>
            <div class="col-10 col-md-4 justify-content-center">
                <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead">
                        slavkata_99@abv.bg
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <a class="ms-4 btn btn-light border-dark br-12">Contact Form</a>
            </div>
        </div>
    </div>
</div>