.article-box {
    background-color: #540404;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    padding-bottom: 40px;
}

.toArticle-box {
    background-color: white;
    color: black;
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
    min-height: 120px;
    margin-left: 50px;
}

#toArticleBtn {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    margin-bottom: 30px;
}

.blog-box {
    padding: 20px;
}

.blog-box-inner {
    position: relative;
    height: 100%;
    max-height: 300px;
    margin-bottom: 30px;
}

.blog-box-inner .blog-img-box {
    position: relative;
    display: block;
    height: 100%;
    margin-bottom: 30px;
}

.blog-box-inner .blog-detail {
    position: absolute;
    top: 0;
    background: #fff;
    padding: 30px 25px;
    border: 1px solid #ddd;
    transition-duration: .5s;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    color: black;
}

.blog-detail h4 {
    font-size: 18px;
    font-weight: 500;
    color: #222222;
}

.blog-detail ul li {
    display: inline-block;
    padding: 0px 5px;
}

.blog-detail ul li span {
    color: #540404;
    cursor: pointer;
}

.blog-detail ul li span:hover {
    color: #010101;
}

.blog-detail ul li:first-child {
    padding-left: 0px;
}

.blog-detail p {
    padding: 10px 0px 0 0;
    margin: 0px;
    font-size: 13px;
}

.blog-detail a {
    color: #ffffff;
    margin-top: 20px;
}

.blog-box-inner .blog-detail:hover {
    background: rgba(255, 255, 255, .7);
}

.blog-inner-box {
    position: relative;
    margin: 0px 10px;
    margin-bottom: 30px;
}

.btn-outline-new-white {
    color: #fff;
}

.btn-outline-new-white:hover {
    color: #ffffff;
}

.home-pic {
    width: 100%;
    height: 100%;
}

.button {
    border: solid;
    border-width: 6px;
    border-color: white;
    background-color: #540404;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: dimgrey;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    top: 40%;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    color: white;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.articles-list {
    position: relative;
}