<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Calorie Calculator</h2>
                </div>
            </div>
        </div>
        <div class="row centered">
            <div class="col-9 ms-auto me-auto">
                <div class="wrapper">
                    <form #calorieForm="ngForm">
                        <div class="choose-gender">
                            <div class="segmented-control">
                                <input id="calc-gender-male" type="radio" name="gender" value="male" [(ngModel)]="gender"/>
                                <label for="calc-gender-male">Male</label>
                            </div>
                            <div class="segmented-control">
                                <input id="calc-gender-female" type="radio" name="gender" value="female" [(ngModel)]="gender"/>
                                <label for="calc-gender-female">Female</label>
                            </div>
                        </div>
                        <label for="calc-age" id="calc-age_value">Age: {{calorieCalculatorModel.age}}</label>
                        <input id="calc-age" type="range" value="25" min="13" max="100" name="age" [(ngModel)]="calorieCalculatorModel.age">
                        <label for="calc-height" id="calc-height_value">Height: {{calorieCalculatorModel.height}} cm</label>
                        <input id="calc-height" type="range" value="180" min="80" max="250" name="height" [(ngModel)]="calorieCalculatorModel.height">
                        <label for="calc-weight" id="calc-weight_value">Weight: {{calorieCalculatorModel.weight}} kg</label>
                        <input id="calc-weight" type="range" value="80" min="40" max="200" name="weight" [(ngModel)]="calorieCalculatorModel.weight">
                        <label for="calc-walking" id="calc-walking_value">Walking: {{calorieCalculatorModel.walking}} hours per week</label>
                        <input id="calc-walking" type="range" value="2" min="0" max="50" name="walking" [(ngModel)]="calorieCalculatorModel.walking">
                        <label for="calc-cardio" id="calc-cardio_value">Cardio: {{calorieCalculatorModel.cardio}} hour per week</label>
                        <input id="calc-cardio" type="range" value="1" min="0" max="50" name="cardio" [(ngModel)]="calorieCalculatorModel.cardio">
                    </form>
                    <div class="results">
                        <div>
                            To Gain Weight:<br>
                            <span>{{this.gainWeight}} calories</span>
                        </div>
                        <div>
                            To Maintain:<br>
                            <span>{{this.maintainWeight}} calories</span>
                        </div>
                        <div>
                            To Lose Weight:<br>
                            <span>{{this.loseWeight}} calories</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>