<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Calorie Calculator</h2>
                </div>
            </div>
        </div>
        <div class="row centered">
            <div class="col-9 ms-auto me-auto">
                <div class="wrapper">
                    <div class="calculator">
                        <div class="choose-gender">
                            <div class="segmented-control">
                                <input id="calc-gender-male" type="radio" name="gender" value="male" checked/>
                                <label for="calc-gender-male">Male</label>
                            </div>
                            <div class="segmented-control">
                                <input id="calc-gender-female" type="radio" name="gender" value="female"/>
                                <label for="calc-gender-female">Female</label>
                            </div>
                        </div>
                        <label for="calc-age" id="calc-age_value">Age: 25</label>
                        <input id="calc-age" type="range" value="25" min="13" max="100">
                        <label for="calc-height" id="calc-height_value">Height: 180cm</label>
                        <input id="calc-height" type="range" value="180" min="80" max="250">
                        <label for="calc-weight" id="calc-weight_value">Weight: 80kg</label>
                        <input id="calc-weight" type="range" value="80" min="40" max="200">
                        <label for="calc-walking" id="calc-walking_value">Walking: 2 hours per week</label>
                        <input id="calc-walking" type="range" value="2" min="0" max="50">
                        <label for="calc-cardio" id="calc-cardio_value">Cardio: 1 hour per week</label>
                        <input id="calc-cardio" type="range" value="1" min="0" max="50">
                    </div>
                    <div class="results">
                        <div id="calc-target-gain">
                            To Gain Weight:<br>
                            <span>2700 calories</span>
                        </div>
                        <div id="calc-target-maintain">
                            To Maintain:<br>
                            <span>2400 calories</span>
                        </div>
                        <div id="calc-target-lose">
                            To Lose Weight:<br>
                            <span>1900 calories</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>