.blog-sidebar {
    margin-top: 50px;
}

.right-side-blog h3 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
}

.blog-search-form .search-btn {
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
    padding: 0px 15px;
}

.blog-search-form {
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.blog-search-form input {
    width: 100%;
    min-height: 40px;
    border: 1px solid #540404;
    padding: 5px 40px 5px 10px;
    font-size: 15px;
    color: #222222;
}

.blog-categories {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.blog-categories ul li {
    line-height: 14px;
    padding: 10px 0px;
    border-top: 1px solid #f5f5f5;
}

.blog-categories ul li a {
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
}

.blog-categories ul li a:hover {
    color: #540404;
}

.recent-box-blog {
    margin-bottom: 20px;
    display: inline-block;
}

.recent-box-blog:hover .recent-img::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.recent-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}

.recent-info ul li {
    font-size: 11px;
    padding: 0px;
    color: #222222;
}

.recent-info h4 {
    font-size: 14px;
    padding: 0px;
    margin: 11px 0px;
    font-weight: 500;
}

.recent-img {
    float: left;
    position: relative;
}

.recent-img::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #540404;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#article-size {
    height: 80px;
    width: 80px;
}

.right-side-blog .recent-box-blog a:hover h4 {
    color: #540404;
}

.spinner {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}