<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact us</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Contact -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="firstName" [(ngModel)]="contact.firstName" #firstName="ngModel"
                                    required minlength="3" maxlength="30" placeholder="Enter first name"
                                    class="form-control contact-form">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                                    <div *ngIf="firstName.errors?.['required']">
                                        First name is required.
                                    </div>
                                    <div *ngIf="firstName.errors?.['minlength']">
                                        First Name must be at least 3 characters long.
                                    </div>
                                    <div *ngIf="firstName.errors?.['maxlength']">
                                        First Name must be no more than 30 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="lastName" [(ngModel)]="contact.lastName" #lastName="ngModel" required
                                    minlength="3" maxlength="30" placeholder="Enter last name"
                                    class="form-control contact-form" />
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                                    <div *ngIf="lastName.errors?.['required']">
                                        Last name is required.
                                    </div>
                                    <div *ngIf="lastName.errors?.['minlength']">
                                        Last name must be at least 3 characters long.
                                    </div>
                                    <div *ngIf="lastName.errors?.['maxlength']">
                                        Last name must be no more than 30 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="email" [(ngModel)]="contact.email" #email="ngModel" required email
                                    placeholder="Enter email" class="form-control contact-form">
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                    <div *ngIf="email.errors?.['required']">
                                        Email is required.
                                    </div>
                                    <div *ngIf="email.errors?.['email']">
                                        Please provide an email.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="subject" [(ngModel)]="contact.subject" #subject="ngModel" required
                                    minlength="5" maxlength="100" placeholder="Enter subject" class="form-control contact-form" />
                                <div *ngIf="subject.invalid && (subject.dirty || subject.touched)" class="alert">
                                    <div *ngIf="subject.errors?.['required']">
                                        Subject is required.
                                    </div>
                                    <div *ngIf="subject.errors?.['minlength']">
                                        Subject must be at least 5 characters long.
                                    </div>
                                    <div *ngIf="subject.errors?.['maxlength']">
                                        Subject must be no more than 100 characters.
                                    </div>
                                </div>   
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="content" [(ngModel)]="contact.content" #content="ngModel" required
                                    minlength="20" maxlength="10000" class="form-control contact-form" rows="6"
                                    placeholder="Enter content">
                                </textarea>
                                <div *ngIf="content.invalid && (content.dirty || content.touched)" class="alert">
                                    <div *ngIf="content.errors?.['required']">
                                        Content is required.
                                    </div>
                                    <div *ngIf="content.errors?.['minlength']">
                                        Content must be at least 20 characters long.
                                    </div>
                                    <div *ngIf="content.errors?.['maxlength']">
                                        Content must be no more than 10000 characters.
                                    </div>
                                </div> 
                            </div>
                            <div class="submit-button text-center">
                                <button class="btn btn-common" [disabled]="contactForm.invalid" type="submit">
                                    Send Message
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->