<div class="blog-comment-box">
    <h3><fa-icon [icon]="['fas', 'comments']"></fa-icon> Comments ({{commentsLength}})</h3>
    <ng-container *ngIf="loadingService.isLoading$ | async">
        <ngx-spinner bdColor="rgba(0,0,0,0)" [fullScreen]="false" color="#540404" size="medium" class="spinner"></ngx-spinner>
    </ng-container>
    <div class="comment-item children" *ngFor="let comment of rootArticleComments">
        <app-articles-comment
            [comment]="comment"
            [articleComments]="articleComments"
            (parentIdEvent)="setCommentParentId($event)"
            [element]="element">
        </app-articles-comment>
    </div>
</div>
<div class="comment-respond-box">
    <h3>Leave your comment</h3>
    <div>
        <ng-container *ngIf="isUserAuthenticated">
            <form id="comment-form" class="comment-form-respond row" #commentForm="ngForm" (ngSubmit)="onSubmitHandler(commentForm)">
                <div class="col-12">
                    <div class="form-group col-9">
                        <textarea type="text" id="content-textarea" name="content" #content="ngModel" ngModel class="form-control" placeholder="Your Comment" required [maxlength]="300"></textarea>
                    </div>
                    <div *ngIf="content.invalid && (content.dirty || content.touched)">
                        <div *ngIf="content.errors?.['required']" class="error">
                            You should write comment in order to submit it.
                        </div>
                        <div *ngIf="content.errors?.['maxlength']" class="error">
                            Comment should be less than 300 symbols.
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 pt-2">
                    <button class="btn btn-primary" type="submit" [disabled]="commentForm.invalid || (loadingService.isLoading$ | async)">Submit comment</button>
                </div>
            </form>
        </ng-container>
        <ng-container *ngIf="!isUserAuthenticated">
            <a class="btn btn-primary" routerLink="/auth/login" [queryParams]="{returnUrl: returnUrl}">Login to write comment</a>
        </ng-container>
    </div>
</div>