.blog-comment-box {
    clear: both;
    margin: 20px 0px;
    float: left;
    width: 100%;
}

.blog-comment-box h3 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

.blog-comment-box .children {
    margin-left: 0px;
}

.comment-respond-box {
    clear: both;
}

.comment-item {
    margin-bottom: 0px;
}

.comment-item-left {
    float: left;
    width: 90px;
    height: 90px;
}

.comment-item-right {
    padding-left: 60px;
    color:#540404;
}

.comment-item-right .float-end {
    margin-right: 60px;
}

.comment-item-right a {
    position: absolute;
    font-weight: 500;
}

.right-btn-re {
    float: right;
    font-style: italic;
    text-align: right;
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 6px;
    margin-left: 10px;
}

.right-btn-re:hover {
    background: #540404;
    color: #fff;
}

.comment-form-respond input {
    min-height: 38px;
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
}

.comment-form-respond textarea {
    border: 1px solid #010101;
    border-radius: 0px;
    padding: 10px;
    min-height: 110px;
}

#content-textarea {
    border: 2px solid;
    border-radius: 25px;
    border-color: #540404;
}

.btn-primary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

#avatar-img {
    max-width: 65px;
    border-radius: 50px;
}

.comment-item-left img {
    width: 100%;
    border-radius: 20px;
}

.des-l {
    display: inline-block;
    width: 90%;
    margin-bottom: 38px;
}

.error {
    margin-top: 10px;
    color: red;
}

.btn-primary:disabled {
    color: #fff;
    background-color: #540404;
    border-color: #fff;
}