.close-button {
    float: right;
    top:-24px;
    right:-24px;
}

.close-icon {
    transition: 1s ease-in-out;
}
  
.close-icon:hover {
    transform: rotate(180deg);
}

.form-element {
    padding: 5px 0px 20px 0px;
    width: 100%;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 200px;
    margin-bottom: 5px;
}