<div class="main-body pt-100 container-fluid">
    <div class="recipeDetailsPage">
        <div class="row br-12 recipeDetailsContainer">
            <div class="col-12 col-lg-6 centered">
                <div class="d-flex flex-column h-100" id="recipeBody">
                    <div id="recipeHeading">
                        <h1><span>{{recipe?.name}}</span></h1>
                        <p>
                            Author: {{recipe?.userUsername}} | Category: {{recipe?.category?.name}} | Rating:
                            <fa-icon *ngFor="let rate of rate(recipe?.rate)" [icon]="['fas', 'star']" class="star"></fa-icon>
                        </p>
                    </div>
                    <div class="flex-grow-1 recipeText" [innerHTML]="recipe?.sanitizedDescription"></div>
                    <div class="row" id="recipeProps">
                        <div class="col-auto recipeProperty">
                            Difficulty:<br>
                            <ng-container *ngIf="recipe?.difficulty === 2">
                                <strong style="color:green">{{(Difficulty[recipe?.difficulty!])}}</strong>
                            </ng-container>
                            <ng-container *ngIf="recipe?.difficulty === 1">
                                <strong style="color:orange">{{(Difficulty[recipe?.difficulty!])}}</strong>
                            </ng-container>
                            <ng-container *ngIf="recipe?.difficulty === 0">
                                <strong style="color:darkred">{{(Difficulty[recipe?.difficulty!])}}</strong>
                            </ng-container>
                        </div>
                        <div class="col-auto recipeProperty">
                            Preperation time:<br> <fa-icon [icon]="['fas', 'clock']"></fa-icon> {{recipe?.preparationTime}} mins
                        </div>
                        <div class="col-auto recipeProperty">
                            Portions Number:<br> <fa-icon [icon]="['fas', 'utensils']"></fa-icon> {{recipe?.portionsNumber}}
                        </div>
                        <div class="col-auto recipeProperty">
                            Cooking Time:<br> <fa-icon [icon]="['fas', 'clock']"></fa-icon> {{recipe?.cookingTime}} mins
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 ing-img">
                <div class="recipeImage">
                    <img class="img-fluid recipe-img" src="{{recipe?.imagePath}}" />
                </div>
                <div class="recipeIngredients" [innerHTML]="recipe?.sanitizedIngredients"></div>
            </div>
        </div>
        <div class="recipeReviews">
            <h2 class="centered"><strong>Reviews:</strong></h2>
            <div class="row reviewsPanel">
                <ng-container *ngIf="recipe?.reviews?.length">
                    <div class="col-12 col-lg-4 review-card" *ngFor="let review of recipe?.reviews">
                        <div class="review-header">
                            <span>
                                <fa-icon [icon]="['fas', 'user']"></fa-icon> Author: {{review.userUsername}}
                            </span><br>
                            <span>
                                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> {{review.createdOn | date:'short'}}
                            </span><br>
                            <span>Rate:
                                <fa-icon *ngFor="let rate of rate(review.rate)" [icon]="['fas', 'star']" class="star"></fa-icon>
                            </span>
                        </div>
                        <div class="review-body">
                            <span><b>{{review.title}}</b></span><br>
                            <span>{{review.description}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!recipe?.reviews?.length">
                    <div class="alert alert-danger" role="alert">
                        There are not any reviews for this recipe yet!
                    </div>
                </ng-container>
            </div>
            <div class="row review-action-buttons">
                <button type="button" class="btn btn-SR" data-toggle="modal" data-target="#reviewsModal" *ngIf="!isReviewAlreadyMade">
                    Create Review
                </button>
                <button type="button" class="btn btn-SR" data-toggle="modal" data-target="#existingReviewModal" *ngIf="isReviewAlreadyMade">
                    You have already created review!
                </button>
            </div>
        </div>
    </div>
</div>