.category-breadcrumb {
    border-bottom: 1px solid #f9f9f9;
    box-sizing: border-box;
    padding: 120px 0;
    width: 100%;
    background-image: url(../../../assets/images/bg_breadcrumbs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.category-breadcrumb h1 {
    font-size: 35px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    padding: 8px 0;
    font-weight: 600;
}

.card-body {
    background-color: #540404;
}

.card-title a {
    color:#ffffff;
    font-weight: bold;
}

.card-text {
    color:#ffffff;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
    padding: 30px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.col-lg-6, .col-md-6 {
    padding: 0 5px !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.btn-primary {
    color: #540404;
    background-color: #fff;
    border-color: #540404;
    margin-left: 30px;
}

.fa-icon {
    color:#540404;
}

.by-category-pagination-links ::ng-deep .ngx-pagination .current {
    background: #540404;
}

.by-category-pagination-links ::ng-deep .ngx-pagination {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}