.page-breadcrumb {
    padding: 250px 0 150px;
    background: url(/assets/images/all-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}

.all-page-title .container {
    position: relative;
    z-index: 2;
}

.all-page-title::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.all-page-title h1 {
    font-size: 38px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    padding: 0px;
    font-weight: 500;
}

.menu-box {
    padding: 70px 0px;
}

.heading-title {
    margin-bottom: 50px;
}

.qt-background {
    background: url(/assets/images/qt-bg.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.qt-background span {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.heading-title h2 {
    color: #010101;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}