<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Recipes</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Recipes -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Recipes</h2>
                    <p>Find the perfect food and drink ideas for every ocassion, from weeknight dinners to holiday feasts</p>
                </div>
            </div>
        </div>
        <app-recipes-list></app-recipes-list>
    </div>
</div>
<!-- End Recipes -->

<!-- Start QT -->
<div class="qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ms-auto me-auto text-center">
                <p class="lead">" If you're not the one cooking, stay out of the way and compliment the chef. "</p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->

<!-- Start Contacts -->
<div class="contacts-container">
    <app-contacts></app-contacts>
</div>
<!-- End Contacts -->