.recipe-card {
    display: grid;
    margin-bottom: 20px;
    grid-template-rows: 1fr auto;
}

.recipe-card-title {
    cursor: pointer;
}

.mat-card-container {
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: auto;
    grid-gap: 2rem;
}

.mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.heading-title {
    padding-top: 120px;
    margin-bottom: 20px;
}

.heading-title h2 {
    color: #540404;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.star {
    color: yellow;
}