<header class="top-navbar">
    <nav class="navbar navbar-expand-xl navbar-light" appNavbar id="navbar" style="background-color:#dbdbdb">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <h1 class="header-title"><fa-icon [icon]="['fas', 'utensils']"></fa-icon> Simply Recipes</h1>
            </a>
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
                    aria-controls="navbars-rs-food"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="isMenuCollapsed = true">Home</a>
                    </li>
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/recipes/main" routerLinkActive="active" (click)="isMenuCollapsed = true">Recipes</a>
                    </li>
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/articles/main" routerLinkActive="active" (click)="isMenuCollapsed = true">Articles</a>
                    </li>
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/contacts" routerLinkActive="active" (click)="isMenuCollapsed = true">Contact</a>
                    </li>
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/privacy" routerLinkActive="active" (click)="isMenuCollapsed = true">Privacy</a>
                    </li>
                    <li class="nav-item ps-2">
                        <a href class="nav-link" routerLink="/faq" routerLinkActive="active" (click)="isMenuCollapsed = true">FAQ</a>
                    </li>
                    <ng-container *ngIf="!isUserAuthenticated">
                        <li class="nav-item ps-2" *ngIf="!isUserAuthenticated">
                            <a href class="nav-link" routerLink="/auth/register" routerLinkActive="active" (click)="isMenuCollapsed = true">Register</a>
                        </li>
                        <li class="nav-item ps-2" *ngIf="!isUserAuthenticated">
                            <a href class="nav-link" routerLink="/auth/login" routerLinkActive="active" (click)="isMenuCollapsed = true">Login</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="isUserAuthenticated">
                        <div ngbDropdown>
                            <div class="dropdown ps-2">
                                <button type="button" class="btn dropdown-toggle" id="profile-dropdown-menu-button" aria-expanded="false" ngbDropdownToggle>
                                    <fa-icon [icon]="['fas', 'user']"></fa-icon> {{username}}
                                </button>
                            </div>
                            <ul ngbDropdownMenu aria-labelledby="profile-dropdown-menu-button">
                                <li class="nav-item ps-2 pe-2 pb-2">
                                    <a ngbDropdownItem href class="nav-link" routerLink="/recipes/submit" routerLinkActive="active" (click)="isMenuCollapsed = true">Submit Recipe</a>
                                </li>
                                <li class="nav-item ps-2 pe-2 pb-2">
                                    <a ngbDropdownItem href class="nav-link" routerLink="/recipes/view" routerLinkActive="active" (click)="isMenuCollapsed = true">View Own Recipes</a>
                                </li>
                                <li class="nav-item ps-2 pe-2 pb-2">
                                    <a ngbDropdownItem href class="nav-link" routerLink="/identity/manage-profile" routerLinkActive="active" (click)="isMenuCollapsed = true">Manage Profile</a>
                                </li>
                                <ng-container *ngIf="isUserAdmin">
                                    <li class="nav-item ps-2 pe-2 pb-2">
                                        <a ngbDropdownItem href class="nav-link" routerLink="/admin-dashboard/main" routerLinkActive="active" (click)="isMenuCollapsed = true">Admin Dashboard</a>
                                    </li>
                                </ng-container>
                                <li class="nav-item ps-2 pe-2" *ngIf="isUserAuthenticated">
                                    <a ngbDropdownItem href class="nav-link" (click)="isMenuCollapsed = true; logout();">Logout</a>
                                </li> 
                            </ul>
                        </div>
                    </ng-container>
                </ul>     
            </div>
        </div>
    </nav>
</header>