<header class="top-navbar">
    <nav class="navbar navbar-expand-xl navbar-light" appNavbar id="navbar" style="background-color:#dbdbdb">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <img src="/assets/logo.png" id="logo" alt="Cooking Hub Logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/recipes" routerLinkActive="active" ariaCurrentWhenActive="page">Recipes</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/articles" routerLinkActive="active" ariaCurrentWhenActive="page">Articles</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/privacy" routerLinkActive="active" ariaCurrentWhenActive="page">Privacy</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a href class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                    </li>     
                </ul>     
            </div>
        </div>
    </nav>
</header>