.ch-border {
    border-left: 8px solid #540404;
    border-right: 8px solid #540404;
}

.mt-120 {
    padding-top: 30px;
    margin-bottom: 40px;
    margin-top: 120px;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.btn:disabled {
    color: #fff;
    background-color: #540404;
    background-image: none;
    border-color: #540404;
}

.alert div {
    color: #fff;
}

input.ng-invalid.ng-touched {
    border-left: 5px solid #A94442;
}

input.ng-valid {
    border-left: 5px solid #42A948;
}

.btn-primary-facebook {
    color: blue;
    background-color: #fff;
    background-image: none;
    border-color: #fff;
}

.btn-primary-facebook:hover {
    color: #fff;
    background-color: blue;
    background-image: none;
    border-color: blue;
}