.form-element {
    padding: 5px 0px 20px 0px;
    width: 100%;
}

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #fff !important;
}

::ng-deep .mat-input-element::placeholder{
    color: whitesmoke !important;
}

::ng-deep .mat-form-field-label {
    color: #fff !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: #540404 !important;
}

::ng-deep .mat-select-value-text {
    color: #fff;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    color: #fff;
    background: none;
}

.create-article-button {
    float: left;
    margin-bottom: 10px;
    color: #fff;
    background-color: #540404;
}

.create-article-button:disabled {
    float: left;
    margin-bottom: 10px;
    color: #fff;
    background-color: #280202;
    cursor: not-allowed;
 }